@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


body {
    background-image: url(../img/background-lover.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #ffd7d7ee;
    font-family: 'Inter', sans-serif;
}

.index {
    background-color: rgb(164, 13, 89);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 30px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #2d78a4;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #00b8f5;
}

.resultado {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}